.Main_div {
    background-color: #1B1C1D;
    height: 100vw;
    width: 100%;
    max-width: 100%;
    &_screen img{
        width: 30rem;
    }
    
}
.Main_div_screen {
    background-color: #1B1C1D;
}