.about_container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5em;
    background-color: #222424;
}

.about p {
    color: #E9EAEA;
    font-size: 1.1em;
}

.about {
    width: 40rem;
}